doctype html
html
  head
    meta(charset='utf-8')
    title 班费管理系统
    link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="/javascripts/category.js")
    script(src="/javascripts/list.js")
    script(src="/javascripts/comment.js")
    script(src="/javascripts/user.js")
  body
    block content
